*{
  box-sizing:border-box;
}
#container {  
  width:500px;
  margin:20px auto;
  padding:20px;
}
input[type="text"] {
  width:370px;
  float:left;
  height:30px;
  padding-left:30px;
}
#btn {
  width:90px;
  height:30px;
  float:right;
  background:#222;
  color:#fff;
  border:none;
}
hr { clear:both; display:none; }
ul { list-style:none; padding-top:50px;}
li {
  background-image: url('../images/trash.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right center; 
  line-height: 2.5;
}
li:hover { cursor:pointer;}

.ad {
  position:absolute;
  right: 100px;
  bottom: 95px;  
  width: 70px;
  height: 120px;
  overflow:hidden;
  cursor: pointer;
}

.ad img {
  width: 70px;
  height: 120px;
  object-fit:cover;
}

.box {
  position:absolute;
  left: 25px;
  bottom: 90px;
  --d:0.8s; /*duration factor*/   
  width: 525px;
  height: 190px;
  padding-top:50px;
  display: flex;
  align-items: flex-end;
  overflow:hidden;
}

#ball {
  width:30px;
  animation-timing-function:cubic-bezier(.17,.76,.58,1);
  animation-iteration-count:2;
  animation-direction: alternate;
  animation-name:t1,t2,t3,t4,t5;
  animation-duration:
      var(--d),
      calc(var(--d)/2),
      calc(var(--d)/3),
      calc(var(--d)/4),
      calc(var(--d)/5);
  animation-delay: 
      calc(var(--d)*-1), 
      calc(var(--d)), 
      calc(var(--d)   + 2*var(--d)/2), 
      calc(var(--d)*2 + 2*var(--d)/3), 
      calc(var(--d)*2 + 2*var(--d)/3 + 2*var(--d)/4); 
}

.box > span {
  animation:m calc(var(--d)*2 + 2*var(--d)/3 + 2*var(--d)/4 + 2*var(--d)/5) linear forwards;
}

@keyframes t1{to {transform:translateY(-160px)}}
@keyframes t2{to {transform:translateY(-110px)}}
@keyframes t3{to {transform:translateY(-60px)}}
@keyframes t4{to {transform:translateY(-30px)}}
@keyframes t5{to {transform:translateY(-10px)}}

@keyframes m{to {transform:translateX(470px)}}