table {
  display:inline-block; /* 한줄에 여러개 출력 공간이 허용하는 만큼*/
  width:300px;
  margin:10px;
}
table, td, th {
  border:1px solid #ccc;
  border-collapse:collapse;
}
th {
  width:80px;
}
td {
  width:210px;
  padding:10px 20px;
}