table {
  display:inline-block;
  width:430px;
  height:170px;
  margin:10px;
}
table, td, th {
  border:1px solid #ccc;
  border-collapse:collapse;
}
th {
  width:80px;
}
td {
  width:410px;
  padding:10px 20px;
}